@import 'config';
@import 'utilities';
body {
    background-color: $primary-color;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    h1 {
        font-size: 3rem;
        font-weight: 400;
        margin: 0;
    }
}

.game {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 20vw 1fr;
    height: 80%;
    &__title {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }
    &__round {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
    }
    &__board {
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 1rem;
        .gameBoard {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .gameBoard__item {
            width: 20vw;
            height: 20vw;
        }
        .gameBoardItem__image {
            display: block;
            width: 15vw;
            height: 15vw;
            border: solid 1px black;
            margin: auto;
        }
        .gameBoardItem__icon {
            display: flex;
            justify-content: center;
            margin: 5%;
            font-size: 2.5rem;
        }
    }
    &__score {
        grid-column: 1/2;
        grid-row: 4/5;
        .gameScore__title {
            display: flex;
            justify-content: center;
            align-content: center;
            font-weight: 900;
            font-size: 1.5rem;
            margin: 1.5rem;
        }
        .gameScore__wrap {
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .gameScore__content {
            margin: 0 3%;
            font-size: 1.2rem;
            font-weight: 100;
        }
        .gameScore__counters {
            display: flex;
            justify-content: center;
            align-content: center;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}

.gameBoard__matchResult {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.gameBoard__matchResultButton {
    outline: none;
    background-color: transparent;
    border: solid 1px black;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    cursor: pointer;
    z-index: 3;
    margin: auto;
    padding: 0.3rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
}

.sound,
.reset {
    text-decoration: none;
    cursor: pointer;
}

.sound:hover {
    text-decoration: line-through;
}

.buttonOff {
    text-decoration: line-through;
}

.scale {
    animation: scale1 0.5s;
}

.scale_in {
    animation: scale_in 0.5s;
}

.shake {
    animation: shake 0.5s;
}

.none {
    display: none;
}

@keyframes scale1 {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scale_in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(10deg);
    }
    45% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@import 'mobile';