@import 'config';
@import 'utilities';
body {
    background-color: $primary-color;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    h1 {
        font-size: 3rem;
        font-weight: 400;
        margin: 0;
    }
}

.game {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 20vw 1fr;
    height: 80%;
    &__title {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }
    &__round {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
    }
    &__board {
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 1rem;
        .gameBoard {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .gameBoard__item {
            width: 20vw;
            height: 20vw;
        }
        .gameBoardItem__image {
            width: 15vw;
            height: 15vw;
            border: solid 1px black;
            margin: auto;
        }
        .gameBoardItem__icon {
            display: flex;
            justify-content: center;
            margin: 5%;
        }
    }
    &__score {
        grid-column: 1/2;
        grid-row: 4/5;
        .gameScore__title {
            display: flex;
            justify-content: center;
            align-content: center;
            font-weight: 900;
            font-size: 1.5rem;
            margin: 1.5rem;
        }
        .gameScore__wrap {
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .gameScore__content {
            margin: 0 3%;
            font-size: 1.2rem;
            font-weight: 100;
        }
        .gameScore__counters {
            display: flex;
            justify-content: center;
            align-content: center;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}

.gameBoard__matchResult {
    position: absolute;
    padding: 10px;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    width: 100%;
    left: 0;
    cursor: pointer;
    z-index: 3;
    margin-top: 2rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
}

@import 'mobile';